spring.application.name=ai-summary-service

server.port=8082

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/

gemini.api.url=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent

gemini.api.key=Your-Gemini_Api_Key

spring.cloud.compatibility-verifier.enabled=false