spring.datasource.url=jdbc:postgresql://localhost:5432/news-portal-db
spring.datasource.username=Your_db_Username
spring.datasource.password=Your_db_Password
spring.jpa.hibernate.ddl-auto=update


spring.application.name=user-auth-service

server.port=8080


eureka.client.service-url.defaultZone=http://localhost:8761/eureka/


app.jwt-secret=Your_Jwt_Secret_Key


app.jwt-expiration-milliseconds=86400000